# Raw/confidential data
data/raw/reg.xlsx
data/raw/*.xlsx
data/raw/*.csv
data/raw/city_shapefile/*
!data/raw/README.md
!data/raw/city_shapefile/README.md



# Generated data
data/interim/*
!data/interim/README.md
data/processed/*
!data/processed/README.md

# Results
results/tables/*
figures/*
!results/README.md
!figures/README.md

# Stata
*.dta
*.smcl
*.log
*.ster

# Python
__pycache__/
*.pyc
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db
